
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>{% block title %} {% endblock %} - FlaskApp</title> -->
    <title>Hardify</title> 
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
    <script src="{{url_for('static', filename='pins.js')}}"></script>
</head>
<body>
    {% for mesg in get_flashed_messages() %}
    <h1>{{ mesg }}</h1>
    {% endfor %}
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('connect') }}">Connect</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>